html,
body,
.webgl {
  width: 100%;
}

.webgl {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  outline: none;
}

.actualizer {
  position: relative;
}

.landing {
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  width: 100%;
  border-bottom: 2px solid darkgrey;
  display: flex;
  justify-content: space-between;
}

.header div {
  padding: 10px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  /* display: flex;
    align-items: center; */
  text-align: center;
}

.bounce {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
