<!DOCTYPE html>
<html lang="en">

<head>
  {{> meta}}

  <script type="module" crossorigin src="/spam/static/assets/index-b4f471aa.js"></script>
  <link rel="stylesheet" href="/spam/static/assets/index-8b913d84.css">

  <link rel="stylesheet" href="/spam/static/style.css">

</head>

<body>
  <div class="landing">
    {{!-- <div class="header">
      <div class="logo">logo</div>
      <div class="testimonial">testimonials</div>
    </div> --}}
    {{> nav}}

    <div class="content">
      <div class="img"><img src="/spam/static/webassets/bodega.jpg"></div>
      <div class="text">
        <h1>Introducing HNGS.</h1>
        <p>Elevate your life today.</p>
        <p>Bringing a smarter, happier, healthier future for you.</p>
      </div>
    </div>
    <div class="footer">
      <div class="bounce">↓ visit the actualizer ↓</div>
    </div>
  </div>
  <div class="actualizer">
    <div id="actualizer-question-wrapper">
      <div class="actualizer-question">
        <div id="question-text">i am able to improve my life for the better</div>
      </div>
      <div class="actualizer-answer">
        <div id="agree" class="response">agree</div>
        <div id="disagree" class="response">disagree</div>
      </div>
    </div>
    <canvas class="webgl"></canvas>
  </div>
</body>

</html>