<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}

    <link rel="stylesheet" href="./static/style.css" />
</head>

<body>
    <div class="landing">
        {{> nav}}
    </div>
</body>

</html>